# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add import "dotenv/config"; to your prisma.config.ts file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:root@localhost:3306/verzel_db"
TMDB_API_URL=https://api.themoviedb.org/3
TMDB_BEARER_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5OWJiNWFmNzdkZGQ1OGYyYjc4ZTg1Y2RkYmFiYTA0NSIsIm5iZiI6MTc0ODMwMTIzOC42Mywic3ViIjoiNjgzNGY1YjZhOWVhMjBhZWRmMDM3NzJiIiwic2NvcGVzIjpbImFwaV9yZWFkIl0sInZlcnNpb24iOjF9.eiBGBh-0--RLHVgZYsTPxGSTKfPpZ64Xiyy1FZGQz5A